<html><head>
    <meta name="description" content="Página principal">
    <title>Agenda com PHP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">  
  </head>
  <body>
    <div class="cover">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><span>Página Inicial</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="agenda.php">Contatos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-danger">Agenda de Contatos em PHP</h1>
            <p class="text-primary">Exemplo feito no encontro semanal para estudar POO com PHP e Mysql, o
              template foi produzido com Pingendo.</p>
            <br>
            <br>
            <a href="agenda.php" class="btn btn-danger btn-lg">Ir para Agenda</a>
          </div>
        </div>
      </div>
    </div>
     <BR />
     <BR />
     <BR />
     <BR />
     <BR />
     <BR />
    <footer class="section">
      <div class="container">
        <div class="row">
           <div class="col-sm-6">
            <h1 class="text-primary">Agenda em PHP</h1>
             <p class="text-primary">Criado por Maycon de Moraes, para demonstrar orientação a
              <br>objetos com php, conexão com mysql e criação de templates com pingendo.
              <br>demonstração feita para o grupo de estudos da UNICESUMAR Curitiba.</p>
          </div>
          <div class="col-sm-6">
            
            <div class="row">
              <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
              </div>
            </div>
            <a href="https://www.linkedin.com/in/maycon-de-moraes-a76240116" target="_blank" class="btn btn-block btn-lg btn-li btn-primary"><i class="fa fa-linkedin left"></i>Linkedin</a>
            <a href="https://github.com/mayconmoraes-dm/PHP-POO" target="_blank" class="btn btn-block btn-lg btn-li btn-primary"><i class="fa fa-linkedin left"></i>GitHub</a>
            <a href="https://unicesumarctba.slack.com" target="_blank" class="btn btn-block btn-lg btn-li btn-primary"><i class="fa fa-linkedin left"></i>Slack</a>
          </div>
          
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>